image: Visual Studio 2017
configuration: Release

install:
    - appveyor DownloadFile https://www.nasm.us/pub/nasm/releasebuilds/2.14.02/win64/nasm-2.14.02-win64.zip -FileName nasm.zip
    - 7z e -y nasm.zip
    - set PATH=%PATH%;%APPVEYOR_BUILD_FOLDER%
    - mkdir aom_build & cd aom_build
    - cmake .. -A x64

build:
  project: aom_build/apg.sln

artifacts:
    - path: \**\Release\*.*
      name: $(APPVEYOR_PROJECT_NAME)
